.alll1{
/* margin: 10px; */
padding-bottom: 20px;
padding-top: 20px;
font-style:oblique;
}

.body{
  overflow-x:hidden;
}
.clr2{
  padding-top: 50px;
  margin-left: 100px;
}

.icons1{
  padding: 1rem;

  background-color:black;
  display: flex;
  align-items: center;
  gap:1rem;
  border-radius: 8px;
  margin-bottom: 2rem;
  color: white;
  
}
.form0{
  margin:  0px 10px 10px 10px;
  background-color:black;
  border-radius: 5px;
  color: white;
  
}

.form4{
  padding:9px;
  margin:10px;
  background-color:white;
  border-radius: 5px;
  width: 400px;
  width: 100%;
  color: black;
}
.form3{
  padding: 100px;
  margin: 5px;
  background-color:white;
  border-radius: 5px;
  width: 100%;
  color:black;

}

.clr3{
  display: flex;
  /* flex-direction: row; */
  justify-content: space-around;
}

.line{
  height:400px;
  width:2px;
  background-color:black;

}

.info{
 display: flex;
 justify-content: space-evenly;
 flex-direction: row;
 margin-top: 15px;
 padding-bottom: 50px;
 background-color:mediumpurple;
}
.info1,.info2,.info3{
margin-top: 40px;
color: black;
}
.info1 h4, .info2 h4, .info3 h4{
color: white;
font-weight: bold;
}
.map{
display: flex;
flex-direction: row;
justify-content: space-evenly;
margin-top: 20px;
margin-bottom: 10px;
}
.map1 h3{
text-align: center;
font-weight: bold;
color: rgb(209, 9, 209);
margin-top: 60px;
}
.ah1{
  /* background-color: black; */
  color: black;
}
@media (max-width:1120px){
  .clr3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100wv;
  }
  .line{
    height: 3px;
    width: 80%;
   
  }
  .icons1{
    width: 100%;
    box-sizing: content-box;
    
  }
  .clr2
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    margin-left: 3px;
  }
  .form3{
    margin: 0;
  }

}


/* .form2 {
  /* float: right;
margin-top: -400px;
padding-left: -300px;
color: black; */
/* margin-left: 800px; */
/* margin-top: -200px; */
/* display: flex;
align-items: flex-start;
} */ 

/* .form2 input{
  padding: 10px 30px 10px 30px;
  margin: 10px;
   
  
}
.form3 input{
  padding: 30px 170px 30px 160px;
  background:white;
}
.form4 input{
  background:white;
}
.form4 h3{
  text-align: center;
  margin: 20px;
  font-family: 'Permanent Marker', cursive;
  font-weight: bold;
}
.form2 button{
  margin:  0px 10px 10px 10px;
  
} */
/* .form2{


  margin-top: 100px;
  margin-left: 80px; */
  /* background: rgb(118, 17, 191); */
  /* color: white; */
/* } */
/* .cont3{ */
  /* display: flex; */
  /* flex-direction: row; */
  /* justify-content:space-between; */
  /* justify-content: center; */
/* } */
