/* /* .gettouch{
    text-align: center;
    color: mediumorchid;
    background: white;
    font-style:italic;
    
}
.r{
    text-align: center;
}
/* .color{
    background-color: chartreuse;
} */
/* .col{
    background-color:lightgreen;
    padding: 50px;
    
}  */